In [1]:
import pandas as pd

In [2]:
pd.DataFrame({'yes' : [34,32],'No':[232,32]})

   yes   No
0   34  232
1   32   32